body {
  height: 100vh;
}

#root {
  height: 100%;
}

#main {
  height: calc(100vh - 71px);
}

#login {
  height: calc(100vh - 71px);
}

#btnHover:hover {
  color: #0d6efd !important;
}

#bg-nested-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
